@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$blue-box-shadow:1px 1px 11px rgb(77, 145, 255);
$neonBlue: rgb(77, 145, 255);

/*Reset CSS*/
*{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

body{
    font-size: 100%;
    color:rgb(255, 255, 255);
    background: linear-gradient(132deg, #2c2c2c, #000c32, #7b88ff);
    background-size: 400% 400%;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;


}

/*Font family for paragraghs*/
p{
    font-size:25px;
    margin:-6px;
    color:rgb(255, 255, 255);
}

/*Navigation bar BEGINS*/
.header{
    display:flex;
    width:95%;
    height: 25px;
    display:flex;
    flex-grow: 1; 
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    z-index: 999;
    background-color: black;
    color:rgb(255, 255, 255);
    box-shadow: 10px 10px 12px rgb(77, 145, 255);

    /*Left side of navigation bar*/
    .left-side{
        a{
            color:rgb(255, 255, 255);
            font-size:25px;
            text-decoration: none;

        }
    }

    /*Middle area in the navigation bar*/
    .middle-navbar{
        display: flex;
        font-size:25px;
        justify-content: space-between;

        /* CovidApi page*/
        .active{
            color:$neonBlue;
            opacity:100%;
        }
        
        a{
            text-decoration: none;
            color: white;
        }

        li{
            list-style: none;
            margin: 0px 20px;

            &:hover{
                text-shadow: 1px 1px 30px $neonBlue;
                cursor: pointer;
            }
        }
    }

    /*right area in the navigation bar*/
    .right-navbar{
        display: flex;
        font-size:30px;
        
        a{
            text-decoration: none;
            color: white;
        }
    
        li{
            list-style: none;
            margin: 0px 20px;

            &:hover{
                text-shadow: 1px 1px 30px $neonBlue;
                cursor: pointer;
            }
        }
    
    
    }
}

section{
    width:100%;
    float: left;
    height: 100vh;
    position:fixed;

    .header-text1{
        position: absolute;
        top:35%;
        left:49%;
        transform: translate(-50%, -50%);
        color:whitesmoke;
        font-size: 66px;
        font-weight:bold;
        margin:0px 1px;
        text-shadow: 5px 5px 19px black;
        
    }

    .header-text2{
        color:rgb(77, 145, 255);
        position: absolute;
        top:50%;
        left:49%;
        transform: translate(-50%, -50%);
        font-size: 125px;
        font-weight:bold;
        margin:0px 1px;
        text-shadow: 5px 5px 19px black;

    }

    .header-text3{
        color:whitesmoke;
        position: absolute;
        top:69%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 110px;
        font-weight:bold;
        margin:0px 1px;
        text-shadow: 5px 5px 19px black;

    }

    .header-text-btn{
        margin:595px 570px;
        width:200px;
        height:50px;
        font-size:25px;
        opacity:80%;

        a{
            text-decoration: none;
            color:black;
        }

        &:hover{
            opacity:100%;
            cursor:pointer;
        }
        &:active{
            box-shadow: $blue-box-shadow;
        }
    }
}


/* Covid Api page */

.covid-api-container{
    display:flex;

    .box1{
        width:400px;
        height:200px;
        background: white;
        margin:-100px 100px;
        box-shadow: 1px 1px 11px $neonBlue;
        border-radius: 25px;
        color:black;
        text-align:center;
        font-size:80px;
    }
}

.search-covid-api{
    margin:205px 355px;
    outline:none;
    width:650px;
    height:60px;
    border-radius: 20px;
    box-shadow: $blue-box-shadow;
    border:none;
    font-size:25px;
    text-align: center;
}

.select-covid-api{
    position: absolute;
    top:45%;
    left:37%;
    outline:none;
    width:350px;
    height:45px;
    border-radius: 15px;
    box-shadow: $blue-box-shadow;
    border:none;
    font-size:25px;
    text-align:center;
}

.covid-api-output-container{

    .output-text{
        text-align:center;
        font-size:80px;
    }

}

.google-map{
    width:100px;
    hight:100px;
    margin: 350px;
}



/* Weather API page*/
.search-weather-api{
    margin:205px 355px;
    outline:none;
    width:650px;
    height:60px;
    border-radius: 20px;
    box-shadow: $blue-box-shadow;
    border:none;
    font-size:25px;
    text-align: center;
}

.select-weather-api{
    position: absolute;
    top:45%;
    left:37%;
    outline:none;
    width:350px;
    height:45px;
    border-radius: 15px;
    box-shadow: $blue-box-shadow;
    border:none;
    font-size:25px;
    text-align:center;
}

.weather-api-output-container{

    .output-weather-text{
        text-align:center;
        font-size:80px;
    }

}